/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* style the whole file */
html {
    cursor: url('blue\ french\ horn.cur'), auto; /* custom cursor for cuteness */
    
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* nav bar */
nav {
    margin-bottom: 2%;
    background-color: #007BFF;
    text-align: center;
    padding: 15px;

    /* links in nav bar */
    a {
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .navbar a:hover {
        background-color: #0056b3;
    }
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #218838;
}