/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* style the whole file */
html {
    cursor: url('blue\ french\ horn.cur'), auto; /* custom cursor for cuteness */
    
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: 0;
}

/* nav bar */
nav {
    text-align: center;
    margin-bottom: 2%;
    padding: 10px;
    background-color: aquamarine;
}

/* links in nav bar */
a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

div {
    padding: 0 1%;
}