/*
Denise Marielle Menguita
Creative Computing Year 1 Group 3
Chapter 4: Page Layout - Structuring a webpage
*/

body { 
    margin: 0px;    /* prevent blank space around the edges */
    font-family: Arial; /* sets the font */
    font-weight: 400;   /* sets the thickness of the font */
}

header, a {
    background-color: #17072b;
    padding: 1.5vw; /* inside spacing/space between the border of the header and the content */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;  /* no underline for links */
}

h1, h2 {
    font-family: Tahoma;
    font-weight: 700;
    text-decoration: underline;
}

h1 {
    font-size: 2.5vw;
}

a, h2 {
    font-size: 1.5vw;
}

main {
    padding: 1vw 0;  /* spacing inside the content*/
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw; /* set the font size of <p> */
}

section {
    float: left;
    width: 58%;
    padding-left: 2vw; /* space between the edge of the left side and the <section> */
}

section img { /* set the size of the image */
    width: 100%;
    height: 50%;
}

aside {
    width: 35%;
    padding: 1.5vw; /* inside spacing/space between the border of the sidebar and the content */
    background-color: #172d67;
    color: #FFFFFF; /* font color */
}

aside ul { /* style the unordered list */
    list-style: none; /* no bullet before the text */
    padding: 0;
    font-size: 1.1vw;
    margin-bottom: 1vw;
}

aside li {
    margin-bottom: 1vw; /* add space between the lines */
}

aside img {
    margin-top: 1.3vw; /* add space between the list and the images */
    width: 49%; /* set the size of the images */
    height: 35%;
}

footer {
    position: relative;
    padding: 0.5vw;
    background-color: #8c15e9;
    text-align: center;
    font-size: 1.1vw;
    color: #FFFFFF;
}