/*
Denise Marielle Menguita
Creative Computing Year 1 Group 3
Chapter 4: Page Layout - Structuring a webpage
*/

body { 
    margin: 0px;    /* prevent blank space around the edges */
    font-family: Arial; /* sets the font */
    font-weight: 400;   /* sets the thickness of the font */
}

header, a {
    background-color: #17072b;
    padding: 1.5vw; /* inside spacing/space between the border of the header and the content */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;  /* no underline for links */
}

h1, h2 {
    font-family: Tahoma;
    font-weight: 700;
    text-decoration: underline;
}

h1 {
    font-size: 2.5vw;
}

a, h2 {
    font-size: 1.5vw;
}

main {
    padding: 2vw;  /* spacing inside the content*/
    display: flex;
    justify-content: space-between;
}

section {
    float: left;
    width: 58%;
}

section img {
    width: 100%;
}

aside {
    width: 35%;
    padding: 1.5vw; /* inside spacing/space between the border of the sidebar and the content */
    background-color: #172d67;
    color: #FFFFFF;
}

aside img {
    width: 49%;
}

footer {
    position: relative;
    padding: 5px;
    background-color: #8c15e9;
    text-align: center;
    font-size: 1.1vw;
    color: #FFFFFF;
}