/*
Denise Marielle Menguita
Creative Computing Year 1 Group 3
Chapter 3: Three images
*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #aab0a1;
    padding: 20px;
}

h1 {
    color: #354729;
}

img {
    width: 300px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    filter: brightness(0.9) contrast(1.1); /* CSS filter for appearance */
    margin: 20px 0;
}

/* make 1st image gray */
#one {
    filter: grayscale(80%); 
}

/* make 2nd image blurry */
#two {
    filter: blur(10px);
}

/* invert colors of 3rd image */
#three {
    filter: invert(70%);
}